<div class="nav-header">
    <a href="index.html" class="brand-logo">
        <img class="logo-abbr" src="/images/logo.png" alt="">
        <img class="logo-compact" src="/images/logo-text.png" alt="">
        <img class="brand-title" src="/images/logo-text.png" alt="">
    </a>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>